<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Tasks</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="userHomePage.css">
    <link rel="icon" href="planicon.ico">
    <script src="userHomePage.js"></script>
  </head>
  <body>
    <img src="logo3.png" class="logo" >
    <div class="navBar">
        <nav class="nav nav-pills nav-justified">
           <!--<a class="userHome"  style="text-decoration: none; color: #fff;" href="/userhomepage">Hey<br>
                <span class="userName"><%= name %></span>! </a> !-->
                <form name='form3' action="/userhomepage" method="post" class="userHome">
                  <input type="hidden"  name="email" value=<%= em %>>
                  <input type="hidden"  name="pwd" value=<%= pw %>>
                  <input type="hidden"  name="name" value=<%= name %>>
                  <input type="hidden"  name="title" value=null>
                  <input type="hidden" name="ddate" value=null>
                  <input type="hidden"  name="lab" value=null>
                  <input type="hidden"  name="stat" value=null>
                  <a href="javascript:document.form3.submit()" style="text-decoration: none; color: #fff;">Hey<br>
                       <span class="userName"><%= name %></span>! </a>
                </form>
        </nav>
    </div>
    <div class="sideBar">
      <form name='form4' action="/usertasks" method="post" class="components">
        <input type="hidden"  name="email" value=<%= em %>>
        <input type="hidden" name="pwd" value=<%= pw %>>
        <input type="hidden" name="name" value=<%= name %>>
        <a href="javascript:document.form4.submit()">My Tasks</a>
      </form>
      <form name='form6' action="/archive" method="post" class="components">
        <input type="hidden"  name="email" value=<%= em %>>
        <input type="hidden"  name="pwd" value=<%= pw %>>
        <input type="hidden"  name="name" value=<%= name %>>
        <a href="javascript:document.form6.submit()">Archive</a>
      </form>
      <a class="components" id="returnhome" style="text-decoration: none; color: #fff;" href="/home">Logout</a>
    </div>
    <div class="heading">
      <h3 class="headtext">My Tasks</h3>
    </div>
    <div id="taskno">
      <p id="tasknotext">Number of tasks :
         <%= tasks.length %>
       </p>
    </div>
    <div class="filter">
      <form name="filtertext" action="/filtertask" method="post">
        <input placeholder="Filter by date" ng-model="taskDate" name="ddate" class="txt" type="text" onfocus="(this.type='date')" id="Date">
        <input type="hidden"  name="email" value=<%= em %>>
        <input type="hidden"  name="pwd" value=<%= pw %>>
        <input type="hidden"  name="name" value=<%= name %>><br><br>
        <button type="submit" name="filterapply" class="button6">Apply</button>
      </form>
    </div>
    <div class="checkBox">
    <% if(tasks.length==0) { %>
        <span class="emptytask"style="color: white;">You have no tasks left</span>
    <% } %>
    <ul>
    <% tasks.forEach(function(task) {%>
    <!--    <input type="checkbox" id="chkBx" ng-model="x.done"> !-->
      <li>  <span  style="color: #FAFAFA;"><%= task.title %></span> </li>
        <span  style="color: #FAFAFA;" class="date">Due by : <%= task.ddate %></span>
        <!--<button ng-click="remove($index)" class="deleteTask"><a>x</a></button> !-->
        <br><br>
        <span  style="color: #FAFAFA;" class="tasklabel">Label : <%= task.label %></span>
        <span  style="color: #FAFAFA;" class="taskStatus">Status : <%= task.status %></span>
        <br><br>
        <form  action="/taskdel" method="post">
          <input type="hidden"  name="email" value=<%= em %>>
          <input type="hidden"  name="pwd" value=<%= pw %>>
          <input type="hidden"  name="name" value=<%= name %>>
          <input type="hidden" name="title" value=<%= task.title.split(" ").join("_") %>>
          <input type="hidden" name="date" value=<%= task.ddate %>>
          <input type="hidden" name="lab" value=<%= task.label.split(" ").join("_") %>>
          <input type="hidden" name="status" value=<%= task.status.split(" ").join("_") %>>
          <button type="submit" name="remove"  class="button2">Delete this task</button>
        </form>
          <form action="/taskarchive" method="post">
            <input type="hidden"  name="email" value=<%= em %>>
            <input type="hidden"  name="pwd" value=<%= pw %>>
            <input type="hidden"  name="name" value=<%= name %>>
            <input type="hidden" name="title" value=<%= task.title.split(" ").join("_") %>>
            <input type="hidden" name="date" value=<%= task.ddate %>>
            <input type="hidden" name="lab" value=<%= task.label.split(" ").join("_") %>>
            <input type="hidden" name="status" value=<%= task.status.split(" ").join("_") %>>
            <button type="submit" name="arch" class="button3">Move to Archive</button>
          </form>
          <form  action="/taskedit" method="post">
            <input type="hidden"  name="email" value=<%= em %>>
            <input type="hidden"  name="pwd" value=<%= pw %>>
            <input type="hidden"  name="name" value=<%= name %>>
            <input type="hidden" name="title" value=<%= task.title.split(" ").join("_") %>>
            <input type="hidden" name="date" value=<%= task.ddate %>>
            <input type="hidden" name="lab" value=<%= task.label.split(" ").join("_") %>>
            <input type="hidden" name="status" value=<%= task.status.split(" ").join("_") %>>
            <button type="submit" name="remove"  class="button4">Edit this task</button>
          </form>
        <br><br>
    <% }); %>
  </ul>
    </div>
  </body>
</html>
